

```
 Importing packages
```

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [20]:
# loading the dataset
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [5]:
# printint 5 rows
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [6]:
# dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37722 entries, 0 to 37721
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    37722 non-null  int64
 1   V1      37722 non-null  float64
 2   V2      37722 non-null  float64
 3   V3      37722 non-null  float64
 4   V4      37722 non-null  float64
 5   V5      37722 non-null  float64
 6   V6      37722 non-null  float64
 7   V7      37721 non-null  float64
 8   V8      37721 non-null  float64
 9   V9      37721 non-null  float64
 10  V10     37721 non-null  float64
 11  V11     37721 non-null  float64
 12  V12     37721 non-null  float64
 13  V13     37721 non-null  float64
 14  V14     37721 non-null  float64
 15  V15     37721 non-null  float64
 16  V16     37721 non-null  float64
 17  V17     37721 non-null  float64
 18  V18     37721 non-null  float64
 19  V19     37721 non-null  float64
 20  V20     37721 non-null  float64
 21  V21     37721 non-null  float64
 22  V22     37721 non-null  float64
 23  V23     37721 non-null  float64
 24  V24     37721 non-null  float64
 25  V25     37721 non-null  float64
 26  V26     37721 non-null  float64
 27  V27     37721 non-null  float64
 28  V28     37721 non-null  float64
 29  Amount  37721 non-null  float64
 30  Class   37721 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 8.9 MB

In [7]:
# Descriptive statistics
credit_card_data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,37722.000000,37722.000000,37722.000000,37722.000000,37722.000000,37722.000000,37722.000000,37721.000000,37721.000000,37721.000000,...,37721.000000,37721.000000,37721.000000,37721.000000,37721.000000,37721.000000,37721.000000,37721.000000,37721.000000,37721.000000
mean,24766.905519,-0.207438,0.060003,0.717371,0.192425,-0.223913,0.099322,-0.113878,0.036184,0.234569,...,-0.030242,-0.112267,-0.041283,0.006498,0.136187,0.021816,0.009257,0.003928,86.029572,0.002731
std,12527.587139,1.826290,1.542122,1.518753,1.404199,1.379541,1.306858,1.250118,1.229029,1.230965,...,0.760639,0.639297,0.550248,0.593787,0.435848,0.505541,0.386284,0.299030,232.994577,0.052184
min,0.000000,-30.552380,-40.978852,-31.103685,-5.172595,-42.147898,-23.496714,-26.548144,-41.484823,-7.175097,...,-20.262054,-8.593642,-26.751119,-2.836627,-7.495741,-1.438650,-8.567638,-9.617915,0.000000,0.000000
25%,13890.000000,-0.962070,-0.514064,0.239253,-0.715389,-0.827569,-0.639691,-0.595964,-0.154250,-0.543033,...,-0.238364,-0.535135,-0.178672,-0.327777,-0.127541,-0.331097,-0.063228,-0.007002,7.190000,0.000000
50%,29826.000000,-0.231670,0.107303,0.822135,0.188408,-0.262141,-0.159274,-0.073638,0.045764,0.108784,...,-0.079107,-0.085964,-0.052248,0.061264,0.176033,-0.064077,0.008660,0.021275,22.820000,0.000000
75%,34937.750000,1.161603,0.748540,1.451850,1.073459,0.300384,0.486727,0.434617,0.310800,0.960733,...,0.098007,0.298240,0.076458,0.398894,0.421271,0.301099,0.085603,0.075752,77.750000,0.000000
max,39077.000000,1.960497,16.713389,4.101716,13.143668,34.099309,22.529298,36.677268,20.007208,10.392889,...,22.614889,5.805795,17.297845,4.014444,5.525093,3.517346,11.135740,5.678671,7879.420000,1.000000

In [25]:
# values counts fronthe two transactions
credit_card_data['Class'].value_counts(), print('data is highly unbalanced')

data is highly unbalanced

(0.0    108785
 1.0       239
 Name: Class, dtype: int64, None)

0 -> Normal Transaction

1 -> fraudulent Transaction

In [21]:
# seperating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0.0]
fraud = credit_card_data[credit_card_data.Class == 1.0]

In [22]:
print(legit.shape)
print(fraud.shape)

(108785, 31)
(239, 31)

In [23]:
# Statistical measures of the data
legit.Amount.describe(), fraud.Amount.describe()

(count    108785.000000
 mean         95.924584
 std         259.993259
 min           0.000000
 25%           7.030000
 50%          25.040000
 75%          86.800000
 max       19656.530000
 Name: Amount, dtype: float64, count     239.000000
 mean      119.677573
 std       255.678875
 min         0.000000
 25%         1.000000
 50%         7.610000
 75%        99.990000
 max      1809.680000
 Name: Amount, dtype: float64)

In [24]:
# Compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,44657.767707,-0.244295,-0.034388,0.700385,0.146054,-0.275096,0.100015,-0.102167,0.055517,-0.052238,...,0.042448,-0.034487,-0.107976,-0.036938,0.010819,0.132820,0.025705,0.000529,0.001429,95.924584
1.0,38848.740586,-5.982672,4.179679,-7.675194,4.747225,-4.271010,-1.536196,-6.358147,1.600009,-2.747560,...,0.261212,1.356023,-0.341016,-0.100372,-0.112906,0.215685,0.091744,0.533488,0.067655,119.677573

Under-Sampling

Building a sample dataset containing similar distribution of legit and fraud transactions

fraud transaction = 239

In [26]:
legit_sample = legit.sample(n=239)

joining the two dataframes

In [27]:
balanced_dataset = pd.concat([legit_sample, fraud], axis=0)

In [28]:
balanced_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
21262,31560,1.044737,0.371547,0.496354,2.302059,0.231587,0.664801,-0.098266,0.298853,-0.944285,...,0.228142,0.630791,-0.078686,-0.292796,0.443045,0.188848,0.008149,0.002085,16.33,0.0
23853,32953,1.296815,-0.518508,0.348800,0.129750,-0.845934,-0.283287,-0.463165,-0.007344,-0.530097,...,-0.498652,-0.791893,0.058456,0.067753,0.367979,0.400899,0.005089,0.008846,14.00,0.0
4389,3766,-1.158686,0.989480,1.453167,0.282185,0.274781,1.230530,-0.087863,0.931051,1.062119,...,-0.144073,0.052394,0.119672,-0.683556,-0.379619,0.311870,0.232301,0.084786,22.10,0.0
102688,68318,1.076748,-0.332150,0.257483,1.287014,0.030853,1.102550,-0.342502,0.264792,1.014386,...,-0.137494,-0.198081,-0.303250,-1.298851,0.761755,-0.177841,0.055111,0.020331,80.90,0.0
22545,32298,1.351125,-0.603289,0.382901,-0.643040,-0.841964,-0.283125,-0.603639,-0.037730,-0.774533,...,0.022733,0.126063,-0.104386,0.054738,0.588368,-0.244824,0.011310,0.003203,22.04,0.0

In [30]:
balanced_dataset['Class'].value_counts()

0.0    239
1.0    239
Name: Class, dtype: int64

In [31]:
balanced_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,43404.439331,-0.133442,-0.174323,0.727744,0.116529,-0.23552,0.135594,-0.106543,0.005346,-0.056912,...,0.078420,-0.045389,-0.055284,-0.077525,0.000097,0.191448,-0.034719,-0.025194,0.001643,104.619623
1.0,38848.740586,-5.982672,4.179679,-7.675194,4.747225,-4.27101,-1.536196,-6.358147,1.600009,-2.747560,...,0.261212,1.356023,-0.341016,-0.100372,-0.112906,0.215685,0.091744,0.533488,0.067655,119.677573

Splitting the data into features and Targets

In [33]:
X = balanced_dataset.drop(columns='Class', axis=1)
y= balanced_dataset["Class"]

split the data into Training data and test data

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, stratify=y, random_state=2 )

In [36]:
print(X.shape, X_train.shape, X_test.shape)

(478, 30) (382, 30) (96, 30)

Model Training

In [37]:
model =LogisticRegression()

In [38]:
# Trainng the model
model.fit(X_train,y_train)

LogisticRegression()

Model Evaluation

In [40]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_accuracy = accuracy_score(X_train_prediction,y_train)

In [41]:
print('Accuracy on Training data : ', training_accuracy )

Accuracy on Training data :  0.9528795811518325

In [43]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, y_test)

In [44]:
print('Accuracy on Training data : ', test_data_accuracy )

Accuracy on Training data :  0.9479166666666666